<html>
<head>
  <%= stylesheet_link_tag "modify" %>
  <%= javascript_include_tag "modify" %>
</head>
<body>
<div class="container">
  <div class="menu">
    <ul class="custom_ul">
      <li id="admin_user" class="list"><a href="#" onclick="modifyPage('<%= admin_admin_users_path %>')">Admin User</a></li>
      <li id="aptitude_centers" class="list"><a href="#" onclick="modifyPage('<%= admin_aptitude_centers_path %>')">Aptitude Center</a></li>
      <li id="courses"class="list"><a href="#" onclick="modifyPage('<%= admin_courses_path %>')">Course</a></li>
      <li id="dob" class="list"><a href="#" onclick="modifyPage('<%= admin_dob_path %>')">DOB</a></li>
      <li id="gd_centers" class="list"><a href="#" onclick="modifyPage('<%= admin_gd_centers_path %>')">GD Center</a></li>
      <li id="states" class="list"><a href="#" onclick="modifyPage('<%= admin_states_path %>')">States</a></li>
    </ul>
    </div>
  <div class="content">
    <div class="loading" hidden="true"></div>
  </div>
</div>
</body>
</html>