<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><b>Helo Dear <%= @user.name %></b></p>

        <b>Welcome to ThoughtWorks</b>
  <p>
    <b>
        You have successfully register STEP With details of,
         <p>
              Name: <%= @user.name %>.<br/>
              Email: <%= @user.email %>.<br/>
              Date of Birth: <%= @user.date_of_birth %>.<br/>
              Address: <%= @user.address %>.<br/>
              City: <%= @user.city %>.<br/>
              Mobile: <%= @user.mobile_number %>.<br/>
         </p>
    </b>
  <div>
    To know more about STEP <%= @url%>
  </div>
    <p>

        Regards,<div> STEP Advisor.</div>
    </p>
  </p>
 <p>Thanks for joining and have a great day!</p>
</body>
</html>