<html>
<head>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag "jquery.handsontable.full" %>
  <%= stylesheet_link_tag "admin_cadidates" %>
  <%= stylesheet_link_tag "nvD3/nv.d3" %>
  <%= stylesheet_link_tag "gender_ratio_chart" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <input id="save" type="button" value="Save"></input>
  <input id="search-box" placeholder="Search .."></input>

  <svg id="gender_bar_chart" class="gender_bar_chart"></svg>

  <div id="users-list" class="handsontable"></div>
   <%= javascript_include_tag "adminPage"%>

</body>
</html>