<html>
<head>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag "jquery.handsontable.full" %>
  <%= stylesheet_link_tag "admin-cadidates" %>
  <%= javascript_include_tag "jquery.handsontable.full"%>
  <%= csrf_meta_tags %>
</head>
<body>

   <input id="save" type="button" value="Save"></input>
  <input id="search-box" placeholder="Search .."></input>

  <div id="users-list" class="handsontable"></div>

   <%= javascript_include_tag "adminPage"%>
</body>
</html>