<html>
<div class='form-for'>
    <%= form_for :user, :url=>user_path, :method=>'post'  do |f| %>
        <div class='row'>
        <%=f.label :name, :class=>'label'%>        
        <%=f.text_field :name,:class=>'text-field', :required => true%>
        </div>
        <br>
        <br>        
        <div class='row'>
        <%=f.label :email, :class=>'label', :required => true%>
        <%=f.text_field :email,:class=>'text-field'%>
          <div id="user-validation"  class="error"></div>
          </div>
        <br>

        <br>        
        <div class='row'>
        <%=f.label :date_of_birth, :class=>'label'%>
          <%= f.text_field :date_of_birth,:id => "date", :size => "8" %>
        </div>
        <br>
        <div class='row'>
        <%=f.label :address, :class=>'address-label'%>
        <%=f.text_area :address,:class=>'address-text-field'%>
        </div>
        <br>
        <div class='row'>
        <%=f.label :city, :class=>'label'%>
        <%=f.text_field :city,:class=>'text-field', :required => true%>
        </div>
      <br>
      <br>
      <div class='row'>
        <%=f.label :mobile_number, :class=>'label'%>
        <%=f.text_field :mobile_number,:class=>'text-field', :required => true%>
        </div>
        <br>
        <br>
        <br>
        <div class='row'>
            <%=f.submit :submit, :class=>"submit-button"%>
        </div>
    <%end%>
    <br>
</div>
</html>
