<!DOCTYPE html>
<html>
<head>
  <!--[if IE 9]>
  <style type="text/css">
      .form-panel .input, .form-panel input, .form-panel textarea {
          border-radius: 0;
      }
  </style>
  <![endif]-->
  <header>
    <h2>STEP - ThoughtWorks</h2>
  </header>
</head>
<body>
<div class="upper-left">
    <div class="ex-form ui-helper-clearfix ui-corner-all">
      <div id="progress"></div><label id="amount">0%</label>
        <%= form_for :user, :url=>user_path, :method=>'post'  do |f| %>
          <div id="panel1" class="form-panel">
            <h2>Personal Details</h2>
            <fieldset>
                <span class="title">Name</span>
                <span class="input"><%=f.text_field :name,:id=>"name", :required => true%></span>


                <span class="title">Email</span>
                <span class="input"><%=f.text_field :email,:id => "email",:required => true%></span>

                <div id="user-validation"  class="error"></div>

                <span class="title">Date Of Birth</span>

                <span class="input"><%= f.text_field :date_of_birth, :size => "8",:id => "dob", :required => true%></span>
                <span class="title">City</span>
                <span class="input"><%=f.text_field :city,:id => "city",:required => true%></span>
                <span class="title">Contact No.</span>
                <span class="input"><%=f.text_field :mobile_number,:id => "number", :required => true%></span>
              <span class="title">Gender</span>
             <span class="input"> <%=f.radio_button :gender,:Male, :required => true%> Male
              <%=f.radio_button :gender,:FeMail,:required => true%>Female
              </span>
            </fieldset>

            <button id="next">Next <span>&#9654;</span></button><button id="back" disabled="disabled"><span>&#9664;</span> Back</button>

          </div>

          <div id="panel2" class="form-panel ui-helper-hidden">
            <h2>Social Data</h2>
            <fieldset class="ui-corner-all">
              <label>
                <span class="title">Diploma in</span>
                <span class="input"><%= f.select :course, ["Select","Diploma in Computer Science","Diploma in Computer Engineering", "Diploma in Computer Technology","Diploma in Information Technology","Diploma in Information Systems"],:id=>"course"%>
                </span>
              </label>
              <label>
                <span class="title">Year of Pass</span>
                <span class="input"><%= f.select :yearofPass, ["Select","2012", "2013","2014"],:id => "passedYear"%></span>
              </label>
              <br>
              <label>
                <span class="title">Preferred Aptitude Test Centre</span>
                <span class="input"><%= f.select :preferredAptitudeCenter, ["Select","Vijayawada", "Bangalore","Chennai"],:id=>"preferAptitudeCenter"%></span>
              </label>

              <label>
                <span class="title">Preferred GD/PI Centre</span>
                <span class="input"><%= f.select :preferredGDCenter, ["Select","Bangalore","Chennai","Gurgaon","Pune"],:id => "preferGDPCenter"%></span>
              </label>

            </fieldset>
            </button>
            <%=f.submit :submit, :id => "submit",:class=>"submit-button"%>
            <button id="back" disabled="disabled"><span>&#9664;</span> Back</button>


          </div>
    <% end %>
    </div>
  </div>
<div class="upper-right">
  <div class= "image">
    <img src="/images/step-brochure.png" alt="rss feed" />
  </div>
</div>
</body>
</html>