<html>
<div class='form-for'>
    <%= form_for :user, :url=>user_path, :method=>'post'  do |f| %>
        <div class='row'>
        <%=f.label :name, :class=>'label'%>        
        <%=f.text_field :name,:class=>'text-field'%>
        </div>
        <br>
        <br>        
        <div class='row'>
        <%=f.label :email, :class=>'label'%> 
        <%=f.text_field :email,:class=>'text-field'%>
          <div id="user-validation"  class="error"></div>
          </div>
        <br>

        <br>        
        <div class='row'>
        <%=f.label :date_of_birth, :class=>'label'%>
        <%=f.date_select :date_of_birth, {:order => [ :day,:month,:year],:prompt => true, :start_year => 2000 , :end_year => 1990} %>
        </div>
        <br>        
        <br>        
        <div class='row'>
        <%=f.label :address, :class=>'address-label'%>
        <%=f.text_field :address,:class=>'text-field'%>
        </div>
        <br>        
        <br>        
        <div class='row'>
        <%=f.label :mobile_number, :class=>'label'%>
        <%=f.text_field :mobile_number,:class=>'text-field'%>
        </div>
        <br>
        <br>
        <br>
        <div class='row'>
            <%=f.submit :submit, :class=>"submit-button"%>
        </div>
    <%end%>
    <br>
    <%= link_to "Excel", root_path(format: "xls") %>
</div>
</html>
