<html>
    <%= form_for(:user, :url => reg_path, method: "post") do |f| %>
        <p> Your Name:  <%= f.text_field :name, :class => "name" %></p>
        <p> Contact No.:  <%= f.text_field :mobile_no %></p>
        <p> Email:     <%= f.email_field :email %></p>

    <p><%= submit_tag "Create Account" %></p>
<% end %>
<%= link_to "Excel", root_path(format: "xls") %>
</html>