<html>
<head>
  <link href="jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css">
</head>
<div class='form-for'>
    <%= form_for :user, :url=>user_path, :method=>'post'  do |f| %>
        <div class='row'>
        <%=f.label :name, :class=>'label'%>        
        <%=f.text_field :name,:class=>'text-field',:id => "name", :required => true%>
        </div>
        <br>
        <br>        
        <%=f.label :email, :class=>'label'%>
        <%=f.text_field :email,:class=>'text-field',:id => "email",:required => true%>
          <div id="user-validation"  class="error"></div>
        <br>

        <br>        
        <div class='row'>
        <%=f.label :date_of_birth, :class=>'label'%>
          <%= f.text_field :date_of_birth,:id => "date", :size => "8",:id => "dob",:class => "input-selection-block", :required => true  %>
        </div>
        <br>
        <%=f.label :address, :class=>'address-label'%>
        <%=f.text_area :address,:class=>'address-text-field',:id => "address"%>
        <br>
        <%=f.label :city, :class=>'label'%>
        <%=f.text_field :city,:class=>'text-field',:id => "city",:required => true%>
      <br>
      <br>
        <%=f.label :mobile_number, :class=>'label'%>
        <%=f.text_field :mobile_number,:class=>'text-field',:id => "number", :required => true%>
        <br>
        <br>
        <br>
            <%=f.submit :submit, :id => "submit",:class=>"submit-button"%>
    <%end%>
    <br>
</div>
</html>
